#header{
    padding: 15px 0;
    background-color: #37517e80;
}
#header .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}
.navbar li a{
    color: #fff;
    padding: 10px ;
    display: inline-block;
    transition: .3s;
}
.navbar li a:hover{
    color: #47b2e4;
}
.navbar .dropdown ul a{
    color: #0c3c53;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
}
.get-started{
    margin-left: 30px;
    border-radius: 50px;
    border: 2px solid #47b2e4;
    transition: .3s ;
}
.get-started:hover{
    background-color: #47b2e4;
    color: #fff !important;
}
/*    s e c t io n   h e r o     */
#hero {
    width: 100%;
    height: 80vh;
    background-color: #37517e;
}
@media only screen and (max-width: 991px) {
    #hero{
        height: 100vh;
        padding-bottom: 20px;
        text-align: center;
    }
    #hero .hero-img img{
        width: 50%;
    }
}
@media only screen and (max-width: 575px) {
    #hero .hero-img img{
        width: 80%;
    }
}
@media only screen and (max-width: 768px) {
    #hero .hero-img img{
        width: 70%;
    }
}
#hero h1{
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    margin: 0 0 10px 0;
}
#hero h2{
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}
.btn-get-started{
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    padding: 10px 28px 11px 28px;
    background-color: #47b2e4;
    border-radius: 50px;
    transition: .3s;
}
.btn-get-started:hover{
    background-color: #209dd8;
}
.btn-watch-video{
    margin-left: 25px;
    color: #fff;
    padding-top: 10px;
    display: flex;
    align-items: center;
}
.btn-watch-video:hover  i{
    color: #47b2e4 !important;
}
.btn-watch-video i{
    font-size: 2em;
    margin-right: 8px;
    transition: .3s;
}
.btn-watch-video span{
    font-size: 1em;
}
/*    s  e c t i o n   c l i e n t s    */
section{
    padding: 60px 0;
    overflow: hidden;
}
#clients {
    padding: 12px 0 !important;
}
.section-bg{
    background-color: #f3f5fa;
}
.clients img{
    width: 45%;
    padding: 15px 0;
    filter: grayscale(100);
    transition: .4s;
}
@media only screen and (max-width: 768px) {
    .clients img{
        width: 45%;
    }
}
.clients img:hover{
    filter: none;
    scale: 1.1;
}
/*    s  e c t  i o n  a b o u t    */
.section-title{
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2{
    color: #37517e;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.section-title h2::before{
    height: 1px;
    width: 120px;
    display: block ;
    background-color: #ddd;
    content: '';
    position: absolute;
    bottom: 1px;
    left: calc(50% - 60px);
}
.section-title h2::after{
    height: 3px;
    width: 40px;
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    background-color: #47b2e4;
    left: calc(50% - 20px);
}
p{
    margin-bottom: 1rem;
}
.content li{
    margin-top: 10px;
}
.content li i {
    color: #47b2e4;
    font-size: 20px;
    margin-right: 5px;
}
.btn-learn-more{
    border: 2px solid #47b2e4;
    border-radius: 4px;
    color: #47b2e4;
    font-weight: 500;
    font-size: 14px;
    margin-top: 6px;
    transition: .3s;
    display: inline-block;
    padding: 10px 32px;
}
.btn-learn-more:hover{
    background-color: #47b2e4;
    color: #fff;
}
/*    s  e c t i o n   w h y - u s   */
#why-us .content{
    padding: 60px 100px 0 100px;
}
#why-us .content h3{
    color: #37517e;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 20px;
}
#why-us .content p{
    color: #848484;
    font-size: 1em;
}
#why-us .accordion {
    padding: 0 100px 60px 100px;
}
#why-us .accordion h2{
    color: #343a40;
}
#why-us .accordion h2 span {
    color: #47b2e4;
    font-weight: 600;
    font-size: 1.1em;
    padding-right: 10px;
}
.accordion-item{
    margin-bottom: 20px;
}
#why-us img{
    width: 100%;
    padding: 100px 0 0 0;
}
@media only screen and (max-width: 992px) {
    #why-us img{
        width: 60%;
        margin: auto;
        padding-top: 20px;
    }
    .why-us-img{
        text-align: center;
    }
}
@media only screen and (max-width: 1160px) {
    #why-us .content, #why-us .accordion {
        padding-left: 0;
        padding-right: 0;
    }
}
/*    s e c t i o n   s k i l l s   */
#skills .content h3{
    font-weight: 700;
    font-size: 2em;
    color: #37517e;
    margin-bottom: 20px;
}
#skills .content p{
    margin-bottom: 20px;
}
.progress{
    margin-bottom: 30px;
}
.progress-bar{
    background-color: #4668a2;
}
#skill {
    margin-bottom: 6px;
    display: block;
    color: #37517e;
    font-weight: 600;
    font-size: .75rem;
}
#skill i{
    float: right;
    font-style: normal;
}
/*    s e c t i o n   s e r v i c e   */
.icon-box{
    padding: 50px 30px;
    background-color: #fff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    transition: .5s;
}
.icon-box:hover{
    transform: translateY(-10px);
}
.icon-box i{
    display: block;
    color: #47b2e4;
    font-size: 36px;
    margin-bottom: 10px;
}
.icon-box h4{
    margin-bottom: 15px;
}
.icon-box h4 a{
    color: #37517e;
    font-size: 24px;
    font-weight: 500;
    transition: .3s;
}
.icon-box h4 a:hover{
    color: #73c5eb;
}
.icon-box p{
    line-height: 1.8em;
    font-size: .9em;
    margin-bottom: 0;
    color: #444;
}
/*    s e c t i o n  c t a   */
#cta{
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url('../img/cta-bg.jpg') fixed center center/cover;
    padding: 120px 0 !important;
}
#cta h3{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}
#cta p{
    color: #fff;
}
.cta-btn{
    color: #fff;
    padding: 12px 40px;
    border: 2px solid #fff;
    border-radius: 50px;
    font-size: 1em;
    font-weight: 500;
    display: inline-block;
    margin: 10px;
    transition: .3s;
}
.cta-btn:hover{
    background-color: #47b2e4;
    border: 2px solid #47b2e4;
}
@media only screen and (min-width: 767px) {
    .cta-btn-container{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
/*   s e c t i o n   t e a m    */
.member {
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    transition: .5s;
}
.member:hover{
    transform: translateY(-10px);
}
.member .pic{
    width: 180px;
    max-height: 165px;
    border-radius: 50%;
    overflow: hidden;
}
.member-content{
    padding-left: 30px;
}
.member-content h4{
    color: #37517e;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
}
.member-content span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
    color: #444;
}
.member-content span::after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
}
.member-content p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #444;
}
.member-content a{
    display: inline-flex;
    background-color: #eff2f8;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 5px;
    color: #37517e;
    transition: .3s;
}
.member-content a:hover {
    background-color: #47b2e4;
    color: #fff;
}
.member-content i{
    font-size: 16px;
}
.social{
    margin-top: 20px;
}
/*    s e c t i o n   p r i c i n g    */
#pricing .box{
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
    padding: 60px 40px;
}
.box{
    border-top: 4px solid #fff;
    border-radius: 5px;
}
.box h4{
    font-weight: 500;
    font-size: 20px;
    color: #37517e;
    margin-bottom: 15px;
}
.box h3{
    font-size: 3em;
    color: #37517e;
    font-weight: 400;
    margin-bottom: 25px;
}
.box h3 sup{
    font-size: 28px;
}
.box span{
    color: #47b2e4;
    display: block;
    font-size: 18px;
}
.box ul{
    padding: 20px 0;
    margin-bottom: 20px;
}
.box ul li {
    padding: 10px 0;
    color: #999;
}
.box ul li i {
    padding-right: 6px;
    color: #28a745;
    font-size: 1em;
}
.buy-btn{
    padding: 12px 35px;
    border: 1px solid #47b2e4;
    color: #47b2e4;
    font-weight: 500;
    font-size: 1em;
    border-radius: 50px;
    display: inline-block;
    transition:.5s;
}
.buy-btn:hover{
    background-color: #47b2e4;
    color: #fff;
}
.featured{
    border-top: 4px solid #47b2e4 ;
}
.featured .buy-btn{
    background-color: #47b2e4;
    color: #fff;
    transition: .5s;
}
.featured .buy-btn:hover{
    background-color: #23a3df;
}
/*     s  e c t i o n   f a q    */
.faq-list{
    padding: 0 100px;
}
.accordion-header span{
    color: #47b2e4;
    margin-right: 10px;
}
@media only screen and (max-width: 768px ) {
    .faq-list{
        padding: 0;
    }
}
/*  s e c t i o n   c o n t a c t   */
.info{
    border-bottom: 3px solid #47b2e4;
    border-top: 3px solid #47b2e4;
    border-radius: 5px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 79vh;
}
.info i{
    color: #47b2e4;
    width: 44px;
    height: 44px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7f5fb;
    border-radius: 50px;
    float: left;
}
.info h4{
    padding-left: 60px;
    font-size: 22px;
    font-weight: 600;
    color: #37517e;
    margin-bottom: 5px;
}
.info p{
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    color: #6182ba;
}
#map iframe{
    width: 100%;
    height: 250px;
}
.btn-contact{
    background-color: #47b2e4;
    border: none;
    padding: 12px 34px;
    color: #fff;
    border-radius: 50px;
    transition: .4s;
}
.btn-contact:hover{
    background-color: #209dd8;
}
/*     f o o t e r     */
.footer-newslater{
    background-color: #f3f5fa;
    padding: 50px 0;
    text-align: center;
    color: #444;
}
.footer-newslater h4{
    font-size: 1.5em;
    color: #37517e;
    margin-bottom: 20px;
    font-weight: 600;
}
.footer-newslater form {
    background-color: #fff;
    padding: 6px 10px;
    border-radius: 50px;
    position: relative;
    margin-top: 30px;
    text-align: left;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
}
.footer-newslater form input[type='email'] {
    border: none;
    padding: 4px 8px ;
    width: calc(100% - 100px);
    outline: none;
}
.footer-newslater form input[type='submit']{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: none;
    background-color: #47b2e4;
    color: #fff;
    border-radius: 50px;
    padding: 0 20px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: .5s;
}
.footer-newslater form input[type='submit']:hover{
    background-color: #209dd8;
}
/*    f o o t e r    t o p    */
.footer-top{
    padding: 60px 0 30px 0;
}
.footer-contact{
    margin-bottom: 30px;
}
.footer-contact h3{
    font-size: 28px;
    color: #37517e;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-contact p {
    color: #5e5e5e;
    line-height: 1.8em;
    font-size: .9em;
}
.footer-links {
    margin-bottom: 30px;
}
.footer-links h4{
    color: #37517e;
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 12px;
}
.footer-links li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.footer-links li i{
    color: #47b2e4;
    padding-right: 5px;
    font-size: .8em;

}
.footer-links li a{
    color: #777;
    font-size: .95em;
    display: inline-block;
    transition: .4s;
}
.footer-links li a:hover{
    color: #47b2e4;
}
.footer-links p{
    font-size: .95em;
}
.social-links a{
    display: inline-block;
    font-size: 18px;
    background-color: #47b2e4;
    color: #fff;
    margin-right: 4px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px 0;
    text-align: center;
    line-height: 1px;
    transition: .4s;
}
.social-links a:hover{
    background-color: #209dd8;
}
/*  f o o t e r  b o t t o m   */
.footer-bottom{
    padding: 30px 0;
    color: #fff;
    background-color: #37517e;
}
.copyright{
    float: left;
}
.credits{
    float: right;
}